# Video and Text Verification

-what happen
-where did it happen
-date and time

## mode of fact checking (facts )

*** Dissemination of accurate information ***
*** Reduces fake news dissemination ***
*** checks content reliability ***
*** ensures reliability ***
*** Ensures reliable decision making ***
*** Builds consumer trust ***

## tools inVID

